<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @topic.topic_title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @topic.description %>
</p>



<table>
  <thead>
    <tr>
      <th>user_id</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topic.posts.each do |post| %>
      <tr>
        <td><%= post.user.email %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Editar', controller: 'topics', action: 'edit_post', id: post.topic.project.id, id_topic: post.topic.id, id_post: post.id %></td>
        <td><%= link_to 'Excluir', destroy_post_topics_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?'}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Postar', new_post_path%>
