<li class="list-group-item">

   	<small style="padding-left:45px; margin-top:-10px" class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small>

  	<br/>

	<div style="width: 40x; border: 1px solid #DDD; height: 40px;line-height:38px;float:left; margin-left: 0px; margin-top: -16px; margin-right: 5px;">
		<%= image_tag(a.trackable.project.avatar, class: "notification") %>
	</div>


  <% if a.trackable %>
  <%= a.trackable.user.name %> criou um <strong><%= link_to 'novo tópico' %></strong> de discussão no projeto <%= a.trackable.project.name%>.
  <% end %>
  <div class="clearfix"> </div>
</li>
