<%= render 'usersnav' %>

<div class="water" style="border: 1px solid #EAEAEA; " >
  <div class="title-blue-publication " style="padding-top: 15px;">
    <div class="row" style="text-align: left">
    	<div class="col-md-12" style="margin-top: 5px; color: #333; text-align: justify">
    	<h5 style="font-size:14px; margin-bottom: 5px; font-weight: bold; color: #333;"> Detalhes </h5>
        	<p>
            É responsável por <strong><%= count_project_adm(Project.where(creator_id: current_user.id).count) %></strong>.<br>
            <%=count_project_part%><br>
            <%=count_project_follow%><br>
    		Cidade: <%= @user.city %>.<br>
    		Estado: <%= @user.state %>.<br>
            Aniversário:  <%= @user.date_birthday%> <br>
            </p>
    	</div>
	</div>
  </div>
</div>