<%= simple_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :date_time_start %><br>
    <%= f.datetime_select :date_time_start %>
  </div>
  <div class="field">
    <%= f.label :date_time_end %><br>
    <%= f.datetime_select :date_time_end %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>

  <div class="field">
    <%= f.input :visible_project, collection: ["Visivel", "Privado"], prompt: "Selecione..."%>
  </div>

  <div class="field">
    <%= f.association :abilities, collection: Ability.order(:name) %>
  </div>

  <div class="field">
    <%= f.association :interests, collection: Interest.order(:name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
