<div class="water" style="border: 1px solid #EAEAEA; margin-bottom: 10px;" >
  <div class="title-blue-publication ">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag(@project.avatar, style: "width: 80px; height: 80px;") %>
      </div>
      <div class="col-md-6" style="text-align: left; margin-top: 5px;">
        <strong><span style="font-size: 20px;"> <%= @project.name %> </span></strong><br>
          <%= link_to  @project.user.name, @project.user, style: "font-size: 15px", class: "user_link" %>
        <br>
        <span style="font-size: 15px;"> <%= project_interests(@project) %> </span><br>
        <strong> <span style="font-size: 15px;"> <%= @project.place %> </span></strong>
      </div>
      <div class="col-md-4" style="text-align: right; padding-top: 60px;">
          <% if current_user == @project.user %>
            <%= link_to 'Editar', edit_project_path(@project), class: "btn btn-default button_project button_inactive" %>
          <% elsif Member.where(project_id: @project.id, situation: '1').count == @project.number_members %>
            Grupo Cheio!
          <%else%>
          <% membership = Member.where(project_id: @project.id, user_id: current_user.id).first %>
          <% if  membership == nil %>
            <%= link_to 'Seguir', follow_projects_path(project: @project.id), class: "btn btn-default button_project button_inactive" %>
            <%= link_to 'Participar', send_request_projects_path(project: @project.id), class: "btn button_project button_inactive " %>
          <% elsif membership.situation == 1 %>
            <%= link_to 'Deixar de Participar', send_request_projects_path(project: @project.id), class: "btn btn-default button_project button_active", data:{confirm: "Tem certeza?" }  %>
          <% elsif membership.situation == 2 %>
            <%= link_to 'Parar de Seguir', unfollow_projects_path(project: @project.id), method: :delete, data:{confirm: "Tem certeza?" }, class: "btn btn-default button_project button_active" %>
            <%= link_to 'Participar', send_request_projects_path(project: @project.id), class: "btn btn-default button_project button_inactive"  %>   
          <% end %>   
        <% end %>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0px; margin-bottom: 0px;">
    <div class="navbar navbar-default navbar-static-top " style="background: #FFF; margin-bottom: 0px !important; min-height: 0px;">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="z-index:1000">
        <strong>
          <ul class="nav navbar-nav project_nav" style="font-size: 14px;">
            <li class="navbar_item <%= active_class(project_path(@project)) %>" style="font-family: 'arial'"> <%=link_to "Início", project_path(@project) %> </li>
            <li class="navbar_item <%= active_class(about_project_path(@project.id)) %>" style="font-family: 'arial'"> <%= link_to "Sobre", about_project_path(@project.id) %>   </li>
            <li class="navbar_item <%= active_class(members_project_path(@project.id)) %>" style="font-family: 'arial'"> <%= link_to "Membros", members_project_path(@project.id)%> </li>
            <li class="navbar_item <%= active_class(list_tasks_path(@project.id)) %>" style="font-family: 'arial';"><%= link_to "Tarefas", list_tasks_path(@project.id)%></li>
            <li class="navbar_item <%= active_class(list_topics_path(@project.id)) %>" style="font-family: 'arial';"><%= link_to "Forum", list_topics_path(@project.id)%></li>     
          </ul>
        </strong>
      </div>
    </div>
  </div>
</div>