<% page_header @project.name %>
<p id="notice"><%= notice %></p>

<%= render 'projectnav' %>

<div class="water" style="border: 1px solid #EAEAEA; " >
  <div class="title-blue-publication " style="padding-top: 15px;">
    <div class="row" style="text-align: left">
    	<div class="col-md-12" style="margin-top: 5px; color: #333; text-align: justify">
    	<h5 style="font-size:14px; margin-bottom: 5px; font-weight: bold; color: #333;"> Objetivo </h5>
    		<p><%= @project.description %> <p>

    	<hr style="margin-top: 5px; margin-bottom: 10px;">
    	<h5 style="font-size:14px; margin-bottom: 5px; font-weight: bold; color: #333;"> Detalhes </h5>
        <p>
    		<span class="glyphicon glyphicon-star"> </span> O Projeto é comandado por <%= link_to @project.user.name, @project.user, class: "user_link" %><br>
    		<span class="glyphicon glyphicon-tags"> </span> <%= project_interests_about(@project) %><br>
    		<span class="glyphicon glyphicon-user"> </span> Possui <%= link_to members_count(@project.members.count), members_project_path(@project), class: "user_link" %><br>
    		<span class="glyphicon glyphicon-map-marker"> </span> Acontece em <%= @project.place %><br> 
    		<span class="glyphicon glyphicon-flag"> </span> Está em fase de <%= @project.phase %>
            <p>
    	</div>
	</div>
  </div>
</div>