

<%= render 'projectlistnav' %>

<div class="water" style="border: 1px solid #EAEAEA">
  <div class="title-blue-publication ">
    <div class="row">
      <div class="col-md-12">
        <h5 style="font-size:14px; margin-bottom: 5px; font-weight: bold; color: #333; text-align: left;"> Ãreas de interesses </h5>  
        <% Interest.all.each do |interest| %>
        <div style="float:left; margin: 5px">
          <%= image_tag("interesse.jpg", class: "img-responsive", style: "width: 50px ; height: 50px;") %>
        </div>
        <% end %>
      </div>
    <hr>
    <% Interest.all.each do |interest| %>
        <div class="col-md-12">
          <h5 style="font-size:14px; margin-bottom: 5px; font-weight: bold; color: #333; text-align: left;"> <%= interest.name %></h5> 
          <% interest.projects.each do |project| %>
             <div class="col-md-4" style="margin-bottom: 10px; text-align: left;">
              <%= project.name %><br>
              <%= image_tag(project.avatar, class: "img-responsive", style: "width: 141px; height: 141px") %>
            </div>
          <% end %>
        </div>
    <% end %>

    
  </div>
</div>