<p id="notice"><%= notice %></p>

<div class="water" style="border: 1px solid #EAEAEA">

    <div class="title-blue-publication " style="padding-top: 15px;">
        <div class="row">
            <%= form_tag(search_result_path, :method => "get", :class => 'navbar-form') do %>
            <button type="submit" class="btn btn-default glyphicon glyphicon-search" id="submit-button"></button>
              <div class="form-group " style="width: 300px">
                <%= text_field_tag 'search-input', params[:search], placeholder: "Pesquise por projetos e pessoas", class: 'form-control glyphicon glyphicon-search' %>
              </div>
            <% end %>
        </div>

        <h5 style="text-align: left;font-size:14px; margin-bottom: 5px; margin-top:10px;font-weight: bold; color: #333;"> <%= users_count(@users.count)%> </h5>


        <div class="row" style="text-align: left; padding-left: 15px">
            <div class="col-md-12" style="margin-top: 5px; color: #333; padding-left: 0px;">    
            <% @users.each do |user| %>
              <% if current_user != user %>
            <div class="col-md-6 " style="padding-left: 0px;padding-top: 14px;padding-bottom: 15px;padding-right:15px;" >
                <div class="col-md-12 member" style="padding: 0px !important; "> 
                    <div class="col-md-4" style="padding: 0px !important;"> 
                        <%= image_tag(user.avatar, class: "member_img") %>
                    </div>
                    <div class="col-md-8" style="padding: 5px !important; padding-left: 0px !important; "> 
                       <%= link_to user.name, user, class: "user_link", style: "font-weight: bold; font-size: 15px" %>

                        <h5 style= "font-size: 13px; color: #606060; margin-bottom: 4px;"> Usuário desde de <%= time_ago_in_words(user.updated_at) %> </h5>
                        <% friendship = Friend.where(user_id: current_user.id, friend_id: user.id).first %>
                        <% if friendship %>
                            <% if friendship.status == "pending" %>
                                <%= link_to "Aceitar Solicitação", accept_request_friends_path(friend: friendship), class: "btn btn-default button_project button_inactive" %>
                            <% elsif friendship.status == "request" %>  
                                <%= link_to "Cancelar Solicitação", cancel_request_friends_path(friend: friendship), class: "btn btn-default button_project button_inactive" %>
                            <% elsif friendship.status == "accept" %>

                            <% end %>
                        <% elsif current_user != user %>
                            <%= link_to "Solicitar Amizade", friend_request_friends_path(user: user), class: "btn btn-default button_project button_inactive" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>



    <div class="title-blue-publication " style="padding-top: 15px;">
        <h5 style="text-align: left;font-size:14px; margin-bottom: 5px; font-weight: bold; color: #333;"> <%= project_count(@projects.count)%> </h5>

        <div class="row" style="text-align: left; padding-left: 15px">
            <div class="col-md-12" style="margin-top: 5px; color: #333; padding-left: 0px;">    
            <% @projects.each do |project| %>
            <div class="col-md-6 " style="padding-left: 0px;padding-top: 14px;padding-bottom: 15px;padding-right:15px;" >
                <div class="col-md-12 member" style="padding: 0px !important; "> 
                    <div class="col-md-4" style="padding: 0px !important;"> 
                        <%= image_tag(project.avatar, class: "member_img") %>
                    </div>
                    <div class="col-md-8" style="padding: 5px !important; padding-left: 0px !important; "> 
                       <%= link_to project.name, project, class: "user_link", style: "font-weight: bold; font-size: 15px" %>

                        <h5 style= "font-size: 13px; color: #606060; margin-bottom: 4px;"> Projeto criado a <%= time_ago_in_words(project.updated_at) %> </h5>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


</div>
