<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @project.avatar %>
</p>

<p>
  <strong>Date time start:</strong>
  <%= @project.date_time_start %>
</p>

<p>
  <strong>Date time end:</strong>
  <%= @project.date_time_end %>
</p>

<p>
  <strong>Place:</strong>
  <%= @project.place %>
</p>




  <% if Member.where(project_id: @project.id, situation: '1').count == @project.number_members %>
    
    Grupo Cheio!
  <%end%>
  <%else%>
    <% if @participate == nil %>
    <%= link_to 'Participar', send_request_projects_path(project: @project.id) %>
  <% end %>

  

  <% if @participate == 0 %>
  Aguardando aceitação do administrador
  <% end %>
  <% if @participate == 1 %>
  Você já faz parte do projeto
  <% end %>

<br>
<%= link_to 'Back', projects_path %>
<br>
<% if current_user %>
  <% if @participate == 1 || @project.creator_id == current_user.id  %>
    <%= link_to 'Forum do Projeto', list_topics_path(@project) %>
    <br>
    <%= link_to "Fazer nova publicacao", create_publication_path %>
    <br>
    <%= link_to "Fazer nova Tarefa", create_task_path %>
    <br>
    <%= link_to 'Tarefas', list_tasks_path(@project) %>
  <% end %>
<% end %>

<br>
<% if current_user %>
<% if @project.creator_id == current_user.id %>
 
<%= link_to 'Edit', edit_project_path(@project) %> 
 <br>
<%= link_to 'Verificar Requisicoes', request_list_path(@project) %>
<%end%>
<%end%>
<br>
<%@project.publications.each do |pub| %>
<div>
  <br>
<%= pub.description%>
<%= pub.user.email %>
<%= image_tag(pub.image)%>
<%= link_to 'Mostrar', publication_path(pub) %>
<%= link_to 'Comentar', new_comment_path(id_publication: pub.id, id_project: pub.project_id)%>

<% if pub.user_id == current_user.id %>
<%= link_to 'Editar', edit_publication_path(pub) %>
<%= link_to 'Deletar', publication_path(pub), method: :delete, data:{confirm: "Tem certeza?" }%>
<% end %>
</div>

  <h4>Comentarios</h4>
  <% Comment.where(publication_id: pub.id).each do |comment| %>

  <%= User.find(comment.user_id).name %>
  <%= comment.description %>
  <%= link_to 'Editar', edit_comment_path(id_publication: comment.publication_id, id_project: comment.publication.project.id, id: comment.id) %>
  <%= link_to 'Excluir', destroy_comment_publications_path(id: comment.id), method: :delete, data: { confirm: 'Are you sure?'} %>
  <br><br>
  <% end %>

<%end%>


<h2> Tarefas </h2>
<% @project.tasks.each do |task| %>
  <div>
    <br>
    <%= task.description %>
    <%= task.location %>
    <%= task.date_start %>
    <%= task.date_end %>
    <%= task.situation %>
    <% if current_user %>
    <% if Assist.where(task_id: task.id, user_id: current_user.id).first %>
        <% if Assist.where(task_id: task.id, user_id: current_user.id).first.status == 1 %>
          Voce faz parte dessa tarefa
           <%= link_to "Solicitar saida", quit_request_tasks_path(id_task: Assist.where(task_id: task.id, user_id: current_user.id).first.id) %>
        <% elsif Assist.where(task_id: task.id, user_id: current_user.id).first.status == 2 %>
          Voce solicitou participar dessa tarefa, aguardando resposta
        <% elsif Assist.where(task_id: task.id, user_id: current_user.id).first.status == 3 %>
          Voce solicitou sair dessa tarefa, aguardando resposta

        <%end%>
                <% else %>
          <%= link_to "Solicitar participacao", enter_request_tasks_path(id_task: task.id) %>
      <% end %>

    <% end %>
    <%= link_to "Mostrar", show_tasks_path(id_task: task.id) %>
    <% if task.user_id == current_user.id || @project.creator_id == current_user.id %>
      <%= link_to "Editar", edit_tasks_path(id_task: task.id) %>
      <%= link_to "Deletar", task_path(task), method: :delete, data:{confirm: "Certeza?" }%>
    <% end %>
  </div>
<% end %>