<% page_header @project.name %>
<p id="notice"><%= notice %></p>

<%= render 'projectnav' %>

<%= render 'publications/newpublication' %>

<% @project.publications.order(created_at: :desc).each do |feed| %>

<%= render 'publications/publication', feed: feed %>

<% end %>

<!--
  <% if Member.where(project_id: @project.id, situation: '1').count == @project.number_members %>
    
    Grupo Cheio!
    <%else%>
    <% if @participate == nil %>
    <%= link_to 'Participar', send_request_projects_path(project: @project.id) %>
    <br>
    <%= link_to 'Seguir', follow_projects_path(project: @project.id) %>
    <% end %>
    <% if @participate == 2 %>
    <%= link_to 'Participar', send_request_projects_path(project: @project.id) %>
    <br>
    <%= link_to 'unfollow', unfollow_projects_path(project: @project.id), method: :delete, data:{confirm: "Tem certeza?" } %>
    <% end %>   
  <% end %>
-->
<!--

  <% if @participate == 0 %>
  Aguardando aceitação do administrador
  <% end %>
  <% if @participate == 1 %>
  Você já faz parte do projeto
  <% end %>

<br>
<%= link_to 'Back', projects_path %>
<br>
<% if current_user %>
  <% if @participate == 1 || @project.creator_id == current_user.id  %>
    <%= link_to 'Forum do Projeto', list_topics_path(@project) %>
    <br>
    <%= link_to "Fazer nova publicacao", create_publication_path %>
    <br>
    <%= link_to "Fazer nova Tarefa", create_task_path %>
    <br>
    <%= link_to 'Tarefas', list_tasks_path(@project) %>
  <% end %>
<% end %>

<br>
<% if current_user %>
<% if @project.creator_id == current_user.id %>
 
<%= link_to 'Edit', edit_project_path(@project) %> 
 <br>
<%= link_to 'Verificar Requisicoes', request_list_path(@project) %>
<%end%>
<%end%>
<br>
<%@project.publications.each do |pub| %>
<div>
  <br>
<%= pub.description%>
<%= pub.user.email %>
<%= image_tag(pub.image)%>
<%= link_to 'Mostrar', publication_path(pub) %>
<%= link_to 'Comentar', new_comment_path(id_publication: pub.id, id_project: pub.project_id)%>
<%= link_to 'Compartilhar', share_publication_projects_path(publication: pub),data:{confirm: "Tem certeza?" } %>

<% if pub.user_id == current_user.id %>
<%= link_to 'Editar', edit_publication_path(pub) %>
<%= link_to 'Deletar', publication_path(pub), method: :delete, data:{confirm: "Tem certeza?" }%>
<% end %>
</div>

  <h4>Comentarios</h4>
  <% pub.comments.order(created_at: :desc).each do |comment| %>

  <%= comment.user.name %>
  <%= comment.description %>
  <%= link_to 'Editar', edit_comment_path(id_publication: comment.publication_id, id_project: comment.publication.project.id, id: comment.id) %>
  <%= link_to 'Excluir', destroy_comment_publications_path(id: comment.id), method: :delete, data: { confirm: 'Are you sure?'} %>
  <br><br>
  <% end %>

<%end%>

-->

<!--
<h2> Tarefas </h2>
<% @project.tasks.each do |task| %>
  <div>
    <br>
    <%= task.description %>
    <%= task.location %>
    <%= task.date_start %>
    <%= task.date_end %>
    <%= task.situation %>
    <% if current_user %>
    <% assist = Assist.where(task_id: task.id, user_id: current_user.id).first %>

    <% if assist %>
        <% if assist.status == 1 %>
          Voce faz parte dessa tarefa

           <%= link_to "Solicitar saida", quit_request_tasks_path(id_assist: assist.id) %>-->
<!--
           <%= link_to "Solicitar Saida","#myModal#{assist.id}", :data => {:toggle=>"modal"}, :class=>"btn btn-primary btn-lg"%>
        
          <div class="modal fade" id="myModal<%=assist.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title <%=assist.id%></h4>
                </div>
                <div class="modal-body">
                    <% @assist = assist %>
                    <%= simple_form_for @assist, :url => quit_request_tasks_path(:id_assist => @assist.id, :id_task => @assist.task_id) do |f| %>
                      <% if @assist.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@assist.errors.count, "error") %> prohibited this assist from being saved:</h2>

                          <ul>
                          <% @assist.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                    <% end %>

                    <div class="field">
                      <%= f.input :reason %>
                    </div>
                    <div class="actions">
                      <%= f.submit %>
                    </div>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->




        <% elsif assist.status == 2 %>
          Voce solicitou participar dessa tarefa, aguardando resposta
        <% elsif assist.status == 3 %>
          Voce solicitou sair dessa tarefa, aguardando resposta

        <%end%>
                <% else %>
          <%= link_to "Solicitar participacao", enter_request_tasks_path(id_task: task.id) %>
      <% end %>

    <% end %>
    <%= link_to "Mostrar", show_tasks_path(id_task: task.id) %>
    <% if task.user_id == current_user.id || @project.creator_id == current_user.id %>
      <%= link_to "Editar", edit_tasks_path(id_task: task.id) %>
      <%= link_to "Deletar", task_path(task), method: :delete, data:{confirm: "Certeza?" }%>
    <% end %>
  </div>
<% end %>


<br>
<h2>Gallery</h2>

<% @project.publications.each do |photo| %>
<div>
    <% if photo.image.blank? == false  %>
    <%= image_tag(photo.image) %><br>
    <%= photo.user.name %> -> <%= photo.created_at %>
    <br>
    <% end %>
</div>  
<% end %>

-->