oi!
<% if current_user %>
	<%= image_tag(current_user.avatar)%><br><br>
	<% current_user.projects.each do |project|%>
		<%= project.name %><br>
		<% project.tasks.each do |t|%>
			<% t.assists.where("status = 0 and user_id = ?", current_user.id).each do |a| %>
			<%= t.description %>
			<%= link_to "Aceitar Tarefa", accept_tasks_path(id_assist: a.id) %>
			<%= link_to "Recusar Tarefa", refuse_tasks_path(id_assist: a.id) %>
			<% end %>
		<% end %>

		<br><br>

	<% end %>


	<br>
	<%= link_to 'Editar Perfil', edit_user_registration_path %>
	<br>
	<%= link_to 'Lista de Pessoas', users_path%>
	<br>
	<%= link_to 'Lista de Amigos', friends_path%>
	<br>
	<%= link_to 'Manter Habilidades e Interesses', list_preferences_path(id: current_user.id) %>
<% end %>



<br><br>
<h2>Lista de Publicações de Projetos Publicos</h2>
<% Project.where(visible_project: true).each do |project| %>
	<% Publication.where(project_id: project.id).each do |pub| %>
		<%= Project.find(pub.project_id).name %>
		<br>
		<%= image_tag(User.find(pub.user_id).avatar) %>
		<%= User.find(pub.user_id).name %>
		<%= pub.description %>
	<% end %>
<% end %>

<br><br>
<h2>Lista de Publicações de Projetos que sigo e participo</h2>
<% Member.where(user_id: current_user.id).each do |project| %>
	<% if project.situation == 1 || project.situation == 2 %>
		<% Publication.where(project_id: project.id).each do |pub| %>
			<%= Project.find(pub.project_id).name %>
			<br>
			<%= image_tag(User.find(pub.user_id).avatar) %>
			<%= User.find(pub.user_id).name %>
			<%= pub.description %>
		<% end %>
	<% end %>
<% end %>