<% if current_user %>

<div class="water">
	<div class="title-blue-publication">
		<%= simple_form_for @publication do |f| %>
		<div class="row" >
			<div class="col-md-1">
			<%= image_tag(current_user.avatar, class: "newpostavatar") %>
			</div>
			<div class="col-md-10">
			<%= f.input :description, label: false, input_html:{style: 'width: 409px; height: 71px;'} %>
			</div>
			<div class="col-md-1">
			<%= f.input :image, label: false, input_html:{class: "imageinput"} %>
			</div>
		</div>
		<div class="row" >
			<div style="float: left; width:333px; font-size:14px">
				Em qual projeto você realizou essa tarefa?
			</div>
			<div style="width: 100px; float: left">
			<%= f.association :project, collection: current_user.projects.order(:name), label: false %>
			</div>
			<div style="width: 100px; float: right">
			<%= f.submit "Publicar", class: 'btn'%>
			</div>
		</div>

		
		
		<% end %>
	</div>

</div>


<% @publications_feed.each do |feed| %>
			<div class="water" style="margin-bottom:-7px;">
				<% if feed.sharing != nil %>
				<div class="eye-top">
					<%= image_tag(User.find(feed.sharing).avatar, class: "img-responsive avatarpost") %>
					<h5 style="padding-top:5px;"><%=User.find(feed.sharing).name%> compartilhou uma atividade há <%= time_ago_in_words(feed.created_at) %></h5>
				</div>
				<% else %>
				<div class="eye-top">
					<%= image_tag(feed.user.avatar, class: "img-responsive avatarpost") %>
					<h5 style="padding-top:5px;"><%=feed.user.name%> realizou uma atividade há <%= time_ago_in_words(feed.created_at) %></h5>
				</div>

				<% end %>
				<div class="title-blue" style="margin-top:10px;">
					<div >
						<%= image_tag(feed.project.avatar, class: "img-responsive projectpost") %>
						<h4 style="text-align:left;padding-top:-2px;"><%=feed.project.name%> </h4>
						<h5 style="padding-top:2px; text-align:left;">
							<%feed.project.interests.each do |i| %> 
							<%= i.name%>, 
							<%end%></h5>
					</div>
					<br>
					<% if feed.image.to_s != '' %>
						<%= image_tag(feed.image) %>
						<h5 style="text-align: justify; margin-top:7px;"><%= feed.description %></h5>
					<% else %>
						<h5 style="text-align: justify; margin-top:15px;"><%= feed.description %></h5>
					<% end %>
					<br>
					<div style="text-align: left">
					<%= link_to 'Compartilhar', share_publication_projects_path(publication: feed),data:{confirm: "Tem certeza?" } %>
					</div>
					<br>
					<%= simple_form_for @comment, :url => create_comment_publications_path(@comment) do |f| %>
						<%= f.input :description, label: false, placeholder: "Faça um comentário"%>
						<%= f.input :publication_id, :as => :hidden, :input_html => {:value =>  feed.id} %>
						  <div class="actions">
						    <% f.submit %>
						  </div>
					<% end %>
					<div style="text-align:left; margin-left:15px">
						<% feed.comments.each do |comment| %>
						<hr>
						<div class="row">
							<%= image_tag(comment.user.avatar, class: "commentpost") %>
							<strong><%= comment.user.name %></strong>
							<%= comment.description %>
							
							
						</div>

						<% end %>


					</div>
					
				</div>
			</div>
		<br>
<% end %>

<!--
	<%= image_tag(current_user.avatar)%><br><br>
	<% current_user.projects.each do |project|%>
		<%= project.name %><br>
		<% project.tasks.each do |t|%>
			<% t.assists.where("status = 0 and user_id = ?", current_user.id).each do |a| %>
			<%= t.description %>
			<%= link_to "Aceitar Tarefa", accept_tasks_path(id_assist: a.id) %>
			<%= link_to "Recusar Tarefa", refuse_tasks_path(id_assist: a.id) %>
			<% end %>
		<% end %>

		<br><br>

	<% end %>


	<br>
	<%= link_to 'Editar Perfil', edit_user_registration_path %>
	<br>
	<%= link_to 'Lista de Pessoas', users_path%>
	<br>
	<%= link_to 'Lista de Amigos', friends_path%>
	<br>
	<%= link_to 'Manter Habilidades e Interesses', list_preferences_path(id: current_user.id) %>
<% end %>



<br><br>
<h2>Lista de Publicações de Projetos Publicos</h2>
<% Project.where(visible_project: true).each do |project| %>
	<% Publication.where(project_id: project.id).each do |pub| %>
		<%= Project.find(pub.project_id).name %>
		<br>
		<%= image_tag(User.find(pub.user_id).avatar) %>
		<%= User.find(pub.user_id).name %>
		<%= pub.description %>
	<% end %>
<% end %>

<br><br>

-->