<% if current_user %>
	<%= render 'publications/newpublication' %>
<% @publications_feed.each do |feed| %>
	<%= render 'publications/publication', feed: feed %>
<% end %>

<!--
	<%= image_tag(current_user.avatar)%><br><br>
	<% current_user.projects.each do |project|%>
		<%= project.name %><br>
		<% project.tasks.each do |t|%>
			<% t.assists.where("status = 0 and user_id = ?", current_user.id).each do |a| %>
			<%= t.description %>
			<%= link_to "Aceitar Tarefa", accept_tasks_path(id_assist: a.id) %>
			<%= link_to "Recusar Tarefa", refuse_tasks_path(id_assist: a.id) %>
			<% end %>
		<% end %>

		<br><br>

	<% end %>


	<br>
	<%= link_to 'Editar Perfil', edit_user_registration_path %>
	<br>
	<%= link_to 'Lista de Pessoas', users_path%>
	<br>
	<%= link_to 'Lista de Amigos', friends_path%>
	<br>
	<%= link_to 'Manter Habilidades e Interesses', list_preferences_path(id: current_user.id) %>
<% end %>



<br><br>
<h2>Lista de Publicações de Projetos Publicos</h2>
<% Project.where(visible_project: true).each do |project| %>
	<% Publication.where(project_id: project.id).each do |pub| %>
		<%= Project.find(pub.project_id).name %>
		<br>
		<%= image_tag(User.find(pub.user_id).avatar) %>
		<%= User.find(pub.user_id).name %>
		<%= pub.description %>
	<% end %>
<% end %>

<br><br>

-->

<script>
function imagePreview(input){

	if (input.files && input.files[0]) 
      {
      	$("#imagePrev").show();
      	$("#publication_fields").show();
        var filerdr = new FileReader();
        filerdr.onload = function(e) {
            $('#imgDisplay').attr('src', e.target.result);
        };
        filerdr.readAsDataURL(input.files[0]);
      }
};
function removeImage(){
	var input = document.getElementById("fileupload-example-4");
	input.value = "";
	$("#imagePrev").hide();

};
function showComments(id){
	var com = "#comments_" + id;
	$(com).slideToggle(500);

};

$(document).ready(function () {

                $("#public_textarea").click(function(){
                	var el = document.getElementById('public_textarea');
                  el.style.height = "70px";
                  $("#publication_fields").show();


              });
                $("#public_textarea").blur(function(){
                	var el = document.getElementById('public_textarea');
                  el.style.height = "40px";
              });
        });

</script>