<div class="navbar navbar-default navbar-static-top" style="background: #FFF; margin-bottom:0px;">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
      <a  href="#" style="color: #009688;" >RSPC</a> 
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="z-index:1000">
      <ul class="nav navbar-nav" style="font-size: 14px;">
        <% if current_user %>
        <li class="navbar_item <%= active_class(root_path) %>" style="font-family: 'arial'"> <%= link_to root_path do%> <span class="glyphicon glyphicon-home"> </span> <span style="font-size:14px !important;"> Inicio </span> <% end %></li>
        <li class="navbar_item <%= active_class(projects_path) %>" style="font-family: 'arial'"><%= link_to projects_path do %> <span class="glyphicon glyphicon-th"> </span> <span style="font-size:14px !important;"> Projetos </span> <% end %></li>
        <li class="navbar_item <%= active_class(notifications_users_path) %>" style="font-family: 'arial'"><%= link_to notifications_users_path do %> <span class="glyphicon glyphicon-bell"> </span> <span style="font-size:14px !important;"> Notificações
          <% if notification_count > 0%>
         <span style="background: #009866; padding-bottom: 1px; padding-top: 1px;padding-left: 5px;padding-right: 5px; border-radius:7px; color: #FFF"> <%= notification_count %> </span> 
         <% end %>
       </span><% end %></li>
        <li class="navbar_item <%= active_class(messages_users_path) %>" style="font-family: 'arial';"><%= link_to messages_users_path do %> <span class="glyphicon glyphicon-envelope"> </span> <span style="font-size:14px !important;"> Mensagens </span> <% end %></li>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
      <% if current_user %>

      <%= form_tag(search_result_path, :method => "get", :class => 'navbar-form navbar-right') do %>
        <button type="submit" class="btn btn-default glyphicon glyphicon-search" id="submit-button"></button>
          <div class="form-group " style="width: 300px">
            <%= text_field_tag 'search-input', params[:search], placeholder: "Pesquise por projetos e pessoas", class: 'form-control glyphicon glyphicon-search' %>
          </div>
          
      <% end %>

      <% end %>
        </li>
        <% if current_user %>
        <li class="dropdown navbar-avatar" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%if current_user%><%= image_tag(current_user.avatar) %><%end%> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Perfil</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sair", destroy_user_session_path, :method => :delete, id: "sign_out_button" %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
<% if current_user %>
          window.onbeforeunload = function (e)
          {
            $.ajax("<%= close_window_users_path %>");
          }

          <%= user_online %>

<% end %>
$("#sign_out_button").click(function(){
  $.ajax("<%= close_window_users_path %>");
});
</script>

