<% if current_user %>
<div class="water">
    	<div class="row"> 
    	<div class="col-md-12">

    	PROJETOS RECENTES
    	
    	<hr style="margin-top: 2px; margin-bottom: 5px; border: 1px solid #DDD">
    	<% recommends.take(4).each do |project|%>
    		
    		<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
    			<%= link_to project do%>
                    <div style="width: 42px; border: 1px solid #DDD; height: 42px;line-height: 38px;float:left; margin-right: 10px;">
                        <%= image_tag(project.avatar, style: "width: 40px; max-height:40px;") %>
                    </div>

	    		<% end %>
	    		<%= link_to project do%>
	    			<span class="user_link" style="line-height: 40px; white-space: nowrap; color: #009688 !important; background: #F6F8FA !important" > <span style="text-align: left;"> <%= truncate project.name, :length   => 30, :separator => /\w/,:omission => "..." %> </span> <span> <%= link_to 'Seguir', follow_projects_path(project: project.id), class: "btn btn-default button_project button_inactive", style: "float:right; margin-top: 10px;" %> </span> </span>
	    		<% end %>
	    	<hr style="margin-top: 4px; margin-bottom: 4px;">
    		</div>
    		
    	<% end %>
    	</div>
    	</div>
</div>
<% end %>