      <% if current_user %>
      <div class="row" style="margin-left:0px; height: 68px; ">
        <%= link_to current_user do %>

        <div style="width: 50x; border: 1px solid #DDD; height: 50px;line-height:47px;float:left;margin-top: 9px;margin-right: 5px;margin-left: 9px;">
            <%= image_tag(current_user.avatar, class: "avatarlist") %>
        </div>
        
        <% end %>
        <br>
        <h4 style="font-size: 15px; margin-top: 3px; line-height: 1; color: #009688"><span><%= link_to current_user.name, current_user, class: "user_link" %></span><br> <%= link_to 'Editar Perfil' , edit_user_registration_path, class: "edit_avatar", style: "font-size: 12px; padding-top: -9px" %></h4>
      </div>
      <hr style="margin-top: 0px; margin-bottom: 8px; margin-left: 8px;">
      <span class="glyphicon glyphicon-minus" style="cursor: pointer; font-size: 13px; margin-left: 10px; margin-bottom: 8px; color: #009688; width: 100%" id="meus">
        <span style="font-family:'Roboto-Regular'; margin-left: -10px; font-size: 14px;">Meus Projetos</span>
      </span>
      <div class="online" style="margin-top: 0px; margin-bottom: 10px" id="meus_list">
        <div style="margin-left: 10px">
          <% current_user.projects.order(name: :asc).each do |project| %>
          <% if Member.where(project_id: project.id, user_id: current_user.id).first.situation == 1 && project.creator_id == current_user.id%>
          <%= link_to project do %>
          <div class="online-top elem_list" style=" margin-left: 14px;padding: 1px; padding-top: 3px; padding-bottom: 3px ">


            <div style="width: 26x; border: 1px solid #DDD; height: 26px;line-height: 22px;float:left; margin-right: 10px;">
                <%= image_tag(project.avatar, class: "projectlist") %>
            </div>

            <div class="top-on" >
              <div class="top-on1" style="margin-left: -40px; margin-top:-5px; font-size: 13px; color: #000; width:170px; word-wrap:break-all;white-space: nowrap ;">
                <%= truncate project.name, :length   => 30, :separator => /\w/,
                               :omission => "..."%>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
          <% end %>
          <%end%>
          <% end %> 
        </div>
      </div>
      <span class="glyphicon glyphicon-minus" style="cursor: pointer ;font-size: 13px; margin-left: 10px; margin-bottom: 8px; color: #009688; width: 100%" id="participar">
        <span style="font-family:'Roboto-Regular'; margin-left: -10px; font-size: 14px;">Participando</span>
      </span>
      <div class="online" style="margin-top: 0px; margin-bottom: 10px" id="participar_list">
        <div style="margin-left: 10px">
          <% current_user.projects.order(name: :asc).each do |project| %>
          <% if Member.where(project_id: project.id, user_id: current_user.id).first.situation == 1 && project.creator_id != current_user.id %>
          <%= link_to project do %>
          <div class="online-top elem_list" style=" margin-left: 14px;padding: 1px; padding-top: 3px; padding-bottom: 3px ">

            <div style="width: 26x; border: 1px solid #DDD; height: 26px;line-height: 22px;float:left; margin-right: 10px;">
                <%= image_tag(project.avatar, class: "projectlist") %>
            </div>

            <div class="top-on" >
              <div class="top-on1" style="margin-left: -40px; margin-top:-5px; font-size: 13px; color: #000; ">
                <%= truncate project.name, :length   => 30, :separator => /\w/,
                               :omission => "..." %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
          <% end %>
          <%end%>
          <% end %> 
        </div>
      </div>
      <span class="glyphicon glyphicon-minus" style="cursor: pointer; font-size: 13px; margin-left: 10px; margin-bottom: 8px; color: #009688; width: 100%"  id="seguir">
        <span style="font-family:'Roboto-Regular'; margin-left: -10px; font-size: 14px;">Seguindo</span>
      </span>
      <div class="online" style="margin-top: 0px; margin-bottom: 10px" id="seguir_list">
        <div style="margin-left: 10px">
          <% current_user.projects.order(name: :asc).each do |project| %>
          <% if Member.where(project_id: project.id, user_id: current_user.id).first.situation == 2 || Member.where(project_id: project.id, user_id: current_user.id).first.situation == 3%>
          <%= link_to project do %>
          <div class="online-top elem_list" style=" margin-left: 14px;padding: 1px; padding-top: 3px; padding-bottom: 3px ">

            <div style="width: 26x; border: 1px solid #DDD; height: 26px;line-height: 22px;float:left; margin-right: 10px;">
                <%= image_tag(project.avatar, class: "projectlist") %>
            </div>

            <div class="top-on" >
              <div class="top-on1" style="margin-left: -40px; margin-top:-5px; font-size: 13px; color: #000; width:170px; word-wrap:break-word;">
                <%= truncate project.name, :length   => 30, :separator => /\w/,
                               :omission => "..." %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
          <% end %>
          <%end%>
          <% end %> 
        </div>
      </div>

      <hr style="margin-bottom: 5px; margin-top: 5px; margin-left: 8px;">

      <%= link_to new_project_path, method: :get, style: "color:#000" do %>
      <div class="online-top elem_list" style=" margin-left: 12px;padding: 1px; padding-bottom: 2px; padding-top: 3px; ">
        <div class="glyphicon glyphicon-plus-sign" style="font-size: 20px; ">

        </div>
        <div class="top-on" >
          <div class="top-on1" style="margin-left: -42px; margin-top:-5px; font-size: 13px">
            Criar Projeto
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>    
      <% end %>

      <%= link_to projects_path, method: :get, style: "color:#000; background: #FFF !important" do %>
      <div class="online-top elem_list" style=" margin-left: 12px; padding: 1px; padding-bottom: 2px; padding-top: 3px;">
        <div class="glyphicon glyphicon-search" style="font-size: 20px">

        </div>
        <div class="top-on" >
          <div class="top-on1" style="margin-left: -42px; margin-top:-5px">
            Buscar Projeto
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div> 
        <% end %> 
      </div>

      <script>
              $("#seguir").click(function(){

                  $("#seguir_list").slideToggle(500);
                  if ($("#seguir").hasClass('glyphicon-minus')) {
                    $("#seguir").addClass('glyphicon-plus');
                    $("#seguir").removeClass('glyphicon-minus');
                  }else{
                    $("#seguir").addClass("glyphicon-minus");
                    $("#seguir").removeClass("glyphicon-plus");
                  }
              });
                $("#participar").click(function(){
                  
                  $("#participar_list").slideToggle(500);
                  if ($("#participar").hasClass('glyphicon-minus')) {
                    $("#participar").addClass('glyphicon-plus');
                    $("#participar").removeClass('glyphicon-minus');
                  }else{
                    $("#participar").addClass("glyphicon-minus");
                    $("#participar").removeClass("glyphicon-plus");
                  }
              });
                $("#meus").click(function(){
                  $("#meus_list").slideToggle(500);
                  if ($("#meus").hasClass('glyphicon-minus')) {
                    $("#meus").addClass('glyphicon-plus');
                    $("#meus").removeClass('glyphicon-minus');
                  }else{
                    $("#meus").addClass("glyphicon-minus");
                    $("#meus").removeClass("glyphicon-plus");
                  }  
              });
      </script>
      <% end %>
