<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title><%= content_for?(:title) ? yield(:title) : "AppRails" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <![endif]-->

      <%= stylesheet_link_tag "application", :media => "all" %>

      <!-- For third-generation iPad with high-resolution Retina display: -->
      <!-- Size should be 144 x 144 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

      <!-- For iPhone with high-resolution Retina display: -->
      <!-- Size should be 114 x 114 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

      <!-- For first- and second-generation iPad: -->
      <!-- Size should be 72 x 72 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

      <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
      <!-- Size should be 57 x 57 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

      <!-- For all other devices -->
      <!-- Size should be 32 x 32 pixels -->
      <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

      <%= javascript_include_tag "application" %>
    </head>
    <body>
<!--
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AppRails</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", destroy_user_session_path, :method => :delete  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>


  -->
<div class="navbar navbar-default navbar-static-top" style="background: #FFF;">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
      <a  href="#" style="color: #009688;" >Brand</a> 
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="z-index:1000">
      <strong><ul class="nav navbar-nav" style="font-size: 14px;">
        <li class="navbar_item <%= active_class(root_path) %>" style="font-family: 'arial'"><a href="#" class="" >Início <span class="sr-only">(current)</span></a></li>
        <li class="navbar_item <%= active_class(projects_path) %>" style="font-family: 'arial'"><a href="#" > Projetos</a></li>
        <li class="navbar_item " style="font-family: 'arial'"><a href="#" >Notificações</a></li>
        <li class="navbar_item " style="font-family: 'arial';"><a href="#">Mensagens</a></li>
        
      </ul></strong>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
      <form class="navbar-form navbar-right" role="search" >
        <button type="submit" class="btn btn-default glyphicon glyphicon-search" id="submit-button"></button>
        <div class="form-group " style="width: 300px">
          <input type="text" class="form-control glyphicon glyphicon-search" id="search-input" placeholder="Search">
        </div>

      </form>
        </li>
        <% if current_user %>
        <li class="dropdown navbar-avatar" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= image_tag(current_user.avatar) %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Perfil</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sair", destroy_user_session_path, :method => :delete  %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


  <div class="container">
    <!-- chat -->
    
    <div class="col-md-3" style="background: #F6F8FA; padding-left: 0px;">
      <% if current_user %>
      <div class="row" style="margin-left:10px; margin-top: 10px">
      <%= image_tag(current_user.avatar, class: "avatarlist") %>
      <br>
      <h4 style="font-size: 14px; margin-top:-6px; line-height: 0.9"><%= current_user.name %><br> <%= link_to 'Editar Perfil' , edit_user_registration_path, class: "edit_avatar", style: "font-size: 11px; padding-top: -9px" %></h4>
    </div>
    <hr style="margin-top:5px;margin-bottom:10px;">
            <h4 style="font-size: 13px; margin-left: 10px; margin-bottom: 8px; color: green;"><strong>PROJETOS</strong></h4>
      <div class="online" style="margin-top: 0px; background: #F6F8FA">
        <% current_user.projects.order(name: :asc).each do |project| %>
        <% if Member.where(project_id: project.id, user_id: current_user.id).first.situation == 1 %>
        <%= link_to project do %>
        <div class="online-top elem_list" style=" margin-left: 10px;padding: 1px; padding-top: 3px; padding-bottom: 3px ">
          <div class="">
            <%= image_tag(project.avatar, class: "projectlist") %>
          </div>
          <div class="top-on" >
            <div class="top-on1" style="margin-left: -40px; margin-top:-5px; font-size: 13px; color: #000">
              <%= project.name %>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <% end %>
        <%end%>
        <% end %>     
        <% current_user.projects.order(name: :desc).each do |project| %>
        <% if Member.where(project_id: project.id, user_id: current_user.id).first.situation == 2 %>
        <%= link_to project do %>
        <div class="online-top elem_list" style=" margin-left: 10px;padding: 1px; padding-bottom: 2px ">
          <div class="">
            <%= image_tag(project.avatar, class: "projectlist") %>
          </div>
          <div class="top-on" >
            <div class="top-on1" style="margin-left: -42px; margin-top:-5px">
              <p><%= project.name %></p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <% end %>
        <%end%>
        <% end %>  
        <hr style="margin-bottom: 5px; margin-top: 5px">
        <%= link_to new_project_path, method: :get, style: "color:#000" do %>
        <div class="online-top elem_list" style=" margin-left: 12px;padding: 1px; padding-bottom: 2px; padding-top: 3px; ">
          <div class="glyphicon glyphicon-plus-sign" style="font-size: 20px; ">
            
          </div>
          <div class="top-on" >
            <div class="top-on1" style="margin-left: -42px; margin-top:-5px; font-size: 13px">
              Criar Projeto
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>    
        <% end %>
        <%= link_to projects_path, method: :get, style: "color:#000" do %>
        <div class="online-top elem_list" style=" margin-left: 12px; padding: 1px; padding-bottom: 2px; padding-top: 3px;">
          <div class="glyphicon glyphicon-search" style="font-size: 20px">
            
          </div>
          <div class="top-on" >
            <div class="top-on1" style="margin-left: -42px; margin-top:-5px">
              Buscar Projeto
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>   
        <% end %> 
      </div>
      <% end %>
    </div>


    <div class="col-md-6" style="margin-top: 20px">
      <%= bootstrap_flash %>
      <%=yield%>


    </div>




    <div class="col-md-3">
    </div>

    <div class="row">
      <div class="col-lg-9">
        

        <div id = "chatbox_parent"></div>
        <%= subscribe_to "/chatroom" %>
        <script>

        PrivatePub.subscribe("/chatroom", function(data, channel){
          
          var current_user_id = '#{current_user.try(:id)}';
          if (data.receiver_id == current_user_id){
            chatBox.chatWith(data.conversation_id);
          }
          else {
            chatBox.chatWith(data.conversation_id);
          }
        });

        </script>
        <br>
      </div>



      <div class="col-sm-3">
      <div class="div_chat">
      <%if current_user %>
          <div class="panel panel-primary" style="border-color: #009688; margin-bottom: 0px" >
            <div class="panel-heading " style="background-color: #009688; border-color: #009688">
               AMIGOS <a class="link_chat glyphicon glyphicon-minus" id="list_link" style="float: right" href="#" > </a>

            </div>
            <div id="list_chat" >
            <div class="panel-body" style="padding-bottom: 0px;padding-top: 6px;padding-left: 8px; overflow-y: scroll; max-height: 424px;">
                <ul class="media-list">
                  <% current_user.friends.where(status: "accept").each_with_index do |friend, index| %>
                  <% index +=1 %>
                  <%= link_to "#", class: "start-conversation",
                  "data-sid" => current_user.id, "data-rip" => friend.friend_id do %>
                                    <li class="media">

                                        <div class="media-body">

                                            <div class="media" style="padding-bottom: 6px;">
                                                
                                                  <%= image_tag(friend.friend.avatar, class: "img-responsive", style: "float:left; width: 32px; height: 32px;") %>
                                                
                                                <div class="media-body" style="float: right; width: 175px; padding-top: 7px;">
                                                  <h5 style="color: #000 !important"> <%= friend.friend.name %> </h5>
                                                    
                                                  
                                                </div>
                                            </div>

                                        </div>
                                    </li>



                                    <% end %>

                                    <% end %>

                                   
                </ul>
                </div>
                <div style="height: 20px; background: #FFC107; padding-left: 6px; color: #333"> <strong> <%= requests(current_user.friends.where(:status => "pending").count) %> </strong> </div>
                <div class="panel-body" style="padding-bottom: 0px;padding-top: 6px;padding-left: 8px; overflow-y: scroll; max-height: 102px;">
                <ul class="media-list">
                  <% current_user.friends.where(status: "pending").each_with_index do |friend, index| %>
                  <% index +=1 %>
                                    <li class="media" style="margin-top:-0px !important;">

                                        <div class="media-body">

                                            <div class="media" style="padding-bottom: 6px; ">
                                                
                                                  <%= image_tag(friend.friend.avatar, class: "img-responsive", style: "float:left; width: 42px; height: 42px;") %>
                                                
                                                <div class="media-body" style="float: right; width: 160px; margin-top: -2px !important;">
                                                  <h5 style="color: #000 !important"> <%= friend.friend.name %> </h5>
                                                  <%= link_to accept_request_friends_path(friend: friend), data: { confirm: 'Are you sure?'}, class: "btn btn-success request_button", style: "opacity: 1; background-color: #009688 !important; margin-top: 5px !important;" do %>
                                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    <% end %>   
                                                    <%= link_to refuse_request_friends_path(friend: friend), method: :delete, data: { confirm: 'Are you sure?'}, class: "request_button btn btn-default ", style: "opacity: 1; margin-top: 5px !important;" do %>
                                                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    <% end %>   
                                                  
                                                </div>
                                            </div>

                                        </div>
                                    </li>

                                    
                                    <% end %>

                                   
                </ul>
                </div>
            </div>
            </div>
          </div>


            <% end %>
        </div >
        <script >

        $(document).ready(function () {
                $("#list_link").click(function(){
                  $("#list_chat").slideToggle(500);
              });
        });


        </script>
      </div><!--/span-->
    </div><!--/row-->

    <footer>
      <p>&copy; Company 2016</p>
    </footer>

  </div> <!-- /container -->
  <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>
</html>





